@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafaf9;
  font-family: "Sora", sans-serif;
  color: #52525a;
}

main {
  display: flex;
  justify-content: center;
  width: 1280px;
  padding: 36px;
}

.intro,
.review-grid {
  width: 50%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
}

.intro-icon {
  width: 50px;
  margin-bottom: 16px;
}

.intro-title {
  font-size: 36px;
  color: #000;
  margin-bottom: 16px;
}

.intro-content {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 36px;
}

.check-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.review-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 48px;
  padding: 30px;
}

.review-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 36px;
  width: 350px;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.review-card:first-child {
  justify-self: end;
}

.review-card:last-child {
  grid-row-start: 2;
}

.review-rating {
  display: flex;
  column-gap: 16px;
  margin-bottom: 16px;
}

.company-logo {
  width: 100px;
}

.stars {
  display: flex;
  align-items: center;
}

.reviwer-name {
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.reviwer-content {
  line-height: 28px;
}

@media (max-width: 900px) {
  main {
    padding: 0;
    flex-direction: column;
  }

  .intro,
  .review-grid {
    width: 100%;
  }
}
